.container {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 3rem;
  overflow: hidden;
}

.hero {
  font-size: 18rem;
  font-weight: 400;
  text-align: center;
  color: #E1E1E1;
  text-shadow: 0px 4px 15px #ffffff;
  line-height: 0;
  transition: transform 0.9s ease-in-out;
  transform-origin: center;
}

.work-container {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 3rem;
  overflow: hidden;
  display: grid;
  gap: 1rem;
}

.titles {
  font-size: 6rem;
  font-weight: 600;
  color: #E1E1E1;
  line-height: 0;
  padding-left: 2rem;
  padding-right: 2rem;
}

.title-box {
  border-radius: 0.625rem;
border: 2px solid #FA764D;
box-shadow: 0px 1px 15px 0px #FD3D00;
}

.nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-top: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  background-color: #131313;
}

.nav-links {
  display: grid;
  gap: 8px;
  text-align: end;
}

.link {
  color: #E1E1E1;
  text-decoration: none;
  cursor: pointer;
}

.hero-link {
  text-decoration: none;
}

.footer-container {
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: space-between;
  color: #E1E1E1;
  box-sizing: border-box;
  padding-bottom: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  bottom: 0;
  align-items: center;
  background-color: #131313;
}

.sound {
  display: flex;
}

.button {
  text-decoration: none;
  background: transparent;
  border: none;
  color: #FA764D;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}

.button:hover {
  text-shadow: 0px 4px 15px #FD3D00;
}

.hero-hovered {
  font-size: 18rem;
  font-weight: 600;
  text-align: center;
  color: #FA764D;
  text-shadow: 0px 4px 15px #FD3D00;
  line-height: 0;
  letter-spacing: 0.275rem;
  transition: transform 0.9s ease;
  transform: scale(1.1);
  cursor: pointer;
}

.slogan {
  text-align: center;
  color: #E1E1E1;
  text-shadow: 0px 4px 15px #ffffff;
  line-height: 0;
}

.link:hover {
  font-weight: 600;
  color: #FA764D;
  text-shadow: 0px 4px 15px #FD3D00;
}

@media (max-width: 768px) {
  .container {
    position: relative;
  top: 120px;
  }
  .hero {
    font-size: 4rem;
  }
  .hovered {
    font-size: 5rem;
  }
}