.container {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 3rem;
  overflow: hidden;
}

.hero {
  font-size: 18rem;
  font-weight: 400;
  text-align: center;
  color: #E1E1E1;
  text-shadow: 0px 4px 15px #ffffff;
  line-height: 0;
  transition: transform 0.9s ease-in-out;
  transform-origin: center;
}

.work-container {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 3rem;
  overflow: hidden;
  display: grid;
  gap: 1rem;
}

.titles {
  padding-left: 5rem;
  padding-right: 2rem;
}


.title-box {
  font-size: 3rem;
  font-weight: 600;
  color: #E1E1E1;
  line-height: 0;
  border-radius: 0.625rem;
  border: 2px solid #FA764D;
  box-shadow: 0px 1px 15px 0px #FD3D00;
  transition: transform 0.9s ease;
  transform-origin: initial;
}

.title-box:hover {
  background-color: #FA764D;
  cursor: pointer;
}
.title-box:hover .titles {
  color: #131313;
  font-weight: 900;
  letter-spacing: 0.275rem;
  transform: scale(1.1);
  transition: transform 0.9s ease;
}

.nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-top: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  background-color: #131313;
}

.nav-links {
  display: grid;
  gap: 8px;
  text-align: end;
}

.link {
  color: #E1E1E1;
  text-decoration: none;
  cursor: pointer;
  height: fit-content;
}

.hero-link {
  text-decoration: none;
}

.footer-container {
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: space-between;
  color: #E1E1E1;
  box-sizing: border-box;
  padding-bottom: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  bottom: 0;
  align-items: center;
  background-color: #131313;
}

.sound {
  display: flex;
}

.button {
  text-decoration: none;
  background: transparent;
  border: none;
  color: #FA764D;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}

.button:hover {
  text-shadow: 0px 4px 15px #FD3D00;
}

.hero-hovered {
  font-size: 18rem;
  font-weight: 600;
  text-align: center;
  color: #FA764D;
  text-shadow: 0px 4px 15px #FD3D00;
  line-height: 0;
  letter-spacing: 0.275rem;
  transition: transform 0.9s ease;
  transform: scale(1.1);
  cursor: pointer;
}

.slogan {
  text-align: center;
  color: #E1E1E1;
  text-shadow: 0px 4px 15px #ffffff;
  line-height: 0;
}

.link:hover {
  font-weight: 600;
  color: #FA764D;
  text-shadow: 0px 4px 15px #FD3D00;
}

.contact-container {
  border-radius: 0.625rem;
  border: 2px solid #FA764D;
  background: #FA764D;
  box-shadow: 0px 1px 15px 0px #FD3D00;
  padding: 3rem;
  text-align: center;
  justify-content: center;
  display: grid;
}

.hi {
  font-size: 7rem;
  line-height: 0;
  margin-bottom: 9rem;
}

.form {
  width: 600px;
  height: auto;
  display: grid;
  gap: 20px;
  text-align: start;
  margin-bottom: 2rem;
}

input {
  appearance: none;
    background: none;
    border: none;
    border-bottom: solid 2px;
    outline: none;
}

.about-container {
  border-radius: 0.625rem;
  border: 2px solid #FA764D;
  box-shadow: 0px 1px 15px 0px #FD3D00;
  padding: 3rem;
  text-align: start;
  justify-content: center;
  display: grid;
  color: #E1E1E1;
  transition: 0.9s ease-in-out;
}

.about-container:hover {
  background: #FA764D;
  color: #131313;
}

.about-text {
  font-size: 2.5rem;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 3.5rem;
}

.send {
  text-decoration: none;
  width: 80px;
  height: auto;
  padding: 8px;
  border: solid 1px #131313;
  border-radius: 3px;
  background: none;
}

.send:hover {
  background-color: #131313;
  color: #E1E1E1;
  cursor: pointer;
}

@media (max-width: 768px) {
  .container {
    position: relative;
  top: 120px;
  }
  .hero {
    font-size: 4rem;
  }
  .hovered {
    font-size: 5rem;
  }
}